#gameSpace {
    width: 600px;
    height: 150px;
    border: solid black 1px;
    position: relative;
    margin-left: 20px;
}

#scoreScreen {
    width: 600px;
    height: 50px;
    border: solid black 1px;
    position: absolute;
    margin-left: 20px;
    top: 160px;
}

.dinosaur {
    position: absolute;
    border: solid black 1px;
    background-color: gray;
    left: 40px;
    animation: jump 1s ease;
}

#obstacle {
    position: absolute;
    width: 20px;
    background-color: black;
    left: 580px;
}

.obstacle1 {
    top: 110px;
    height: 40px;
}

.obstacle2 {
    top: 130px;
    height: 20px;
}

.obstacle3 {
    top: 90px;
    height: 20px;
}

#score {
    margin-left: 20px;
}

.sneak {
    height: 30px;
    width: 45px;
    top: 120px;
}

.default {
    top: 100px;
    height: 50px;
    width: 30px;
}

@keyframes jump {
    0% { transform: translateY(0); }
    25% { transform: translateY(-50px); }
    75% { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}

@keyframes move {
    0% { transform: translateX(0px); }
    100% { transform: translateX(-580px); }
}